﻿stacklayout {
    margin: 0;
}

records-container {
    width: 100%;
}

record-block {
    width: 100%;
    padding: 15;
    font-size: 12;
}

record-block > description {
    width: 70%;
}

record-block > description > category {
    font-size: 10;
    color: gray;
}

record-block > amounr {
    width: 30%;
}